/* Login Class */
.login-wrapper {
  background-color: #69798b;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.form-container {
  margin-top: 10%;
  position: relative;
}

.login-container {
  background-color: #f0eaea;
  display: inline-block;
  left: 50%;
  height: auto;
  min-height: 460px;
  opacity: 1.1;
  padding: 20px;
  position: absolute;
  top: 50%;
  width: 420px;
  -webkit-border-radius: 15px 16px 16px 15px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.175);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.login-container .form-group {
  padding: 0 20px;
  position: relative;
}
.login-container [data-type="pizza"] + .checkbox-wrapper .checklist-container ~ label {
  margin-left: 5px;
}
input[type="text"].smooth-field,
input[type="password"].smooth-field {
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid #adadad;
  color: #555555 !important;
  font-size: 15px;
  height: 45px;
  padding: 0 5px;
  width: 100%;
}
input[type="text"].smooth-field.has-value ~ .focus-input:after,
input[type="password"].smooth-field.has-value ~ .focus-input:after {
  top: -5px;
}
input[type="text"].smooth-field:focus,
input[type="password"].smooth-field:focus {
  outline: 0;
}
input[type="text"].smooth-field:focus ~ .focus-input:before,
input[type="password"].smooth-field:focus ~ .focus-input:before {
  width: 90%;
}
input[type="text"].smooth-field:focus ~ .focus-input:after,
input[type="password"].smooth-field:focus ~ .focus-input:after {
  top: -5px;
}
input[type="text"].smooth-field + .help-block-error,
input[type="password"].smooth-field + .help-block-error {
  font-size: 12px;
  position: absolute;
  right: 20px;
  top: 0;
}
input[type="text"],
input[type="password"] {
  position: relative;
}
input[type="text"] + .plain-text,
input[type="password"] + .plain-text {
  color: #444343;
  position: absolute;
  right: 30px;
  top: 6px;
}
input:-webkit-autofill {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.focus-input {
  display: block;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.focus-input:before {
  bottom: 0;
  border-radius: 50px;
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  width: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #e91e63);
  background: -o-linear-gradient(left, #21d4fd, #e91e63);
  background: -moz-linear-gradient(left, #21d4fd, #e91e63);
  background: linear-gradient(left, #21d4fd, #e91e63);
}
.focus-input:after {
  color: #999999;
  content: attr(data-placeholder);
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.2;
  display: block;
  padding-left: 5px;
  position: absolute;
  top: 16px;
  width: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.button-wrapper {
  border-radius: 50px;
  display: block;
  height: 50px;
  margin-top: 40px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.button-wrapper .button-layer {
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #21d4fd, #6e70c5, #21d4fd, #6e70c5);
  background: -o-linear-gradient(right, #21d4fd, #6e70c5, #21d4fd, #6e70c5);
  background: -moz-linear-gradient(right, #21d4fd, #6e70c5, #21d4fd, #6e70c5);
  background: linear-gradient(right, #21d4fd, #6e70c5, #21d4fd, #6e70c5);
  height: 50px;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  width: 300%;
}
.button-wrapper .button-layer .btn-success {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  height: 50px;
  justify-content: center;
  padding: 0 20px;
  text-transform: uppercase;
  width: 100%;
}
.button-wrapper .button-layer .btn-success:focus {
  outline: 0;
}
.button-wrapper:hover .button-layer {
  left: 0;
}
.button-wrapper:hover .button-layer .btn-success:before {
  color: #fff;
  content: attr(data-name);
  font-size: 15px;
  height: 50px;
  left: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 33%;
  z-index: 1;
}

.forget-password {
  display: block;
  margin-top: 20px;
}
.desc-login {
  margin-top: 120px;
  padding: 0 20px;
}
.mt30 {
  margin-top: 30px;
}
/* End login class */
/* Register Class */
.register-wrapper {
  background-size: cover;
  display: inline-block;
  height: 100%;
  left: 0;
  padding: 0 300px;
  position: absolute;
  top: 0;
  width: 100%;
}
.register-wrapper .login-logoimg {
  top: 0;
}

.register-container {
  background-color: #fff;
  display: inline-block;
  height: auto;
  margin-bottom: 40px;
  margin-top: 130px;
  min-height: 240px;
  padding: 20px;
  width: 100%;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  -webkit-box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.175);
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.175);
}
/* End Register Class */
/* Mobile Query */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .login-container {
    width: 90%;
  }
}
/* Media Query can't access */
@media only screen and (min-width: 0px) and (max-width: 319px) {
  .login-wrapper {
    background-color: #69798b;
    text-align: center;
  }
  .login-wrapper:before {
    content: 'You cannot access this site under 320 pixel. Please upgrade your smartphone.';
    display: block;
    margin-top: 20px;
  }
  .login-container {
    display: none;
  }
}
/* End Mobile Query */
